.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/fog.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.embla {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.embla__viewport {
  overflow: hidden;
  z-index: 3;
}

.embla__container {
  height: 100vh;
  display: flex;
  z-index: 3;
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 80%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: grab;
  z-index: 3;
}

.embla__slide .item img {
  width: 400px;
  height: auto;
  z-index: 3;
  cursor: pointer;
}

@font-face {
  font-family: California sun;
  src: url(../fonts/california_sun.ttf);
}

.main-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  font-family: "California sun";
  max-width: 500px;
  height: max-content;
  justify-content: space-between;
  align-items: start;
  z-index: -1;
}

.main-title h1 {
  font-size: 5em;
  color: #222224;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  mix-blend-mode: difference;
}

.title {
  font-family: "California sun";
  max-width: 400px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: -1;
}

.title h2 {
  font-size: 5em;
  color: #222224;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  mix-blend-mode: difference;
}

.world {
  background-image: url("../assets/world2.png");
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;
  pointer-events: none;
}

.embla__arrow {
  position: absolute;
  top: 50%;

  background: none;
  border: none;
  color: rgb(157, 157, 157);
  font-size: 48px;
  font-weight: 300;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  line-height: 1;
  user-select: none;
  transition: 0.2s ease;
}

.embla__arrow--prev {
  left: calc(25% - 100px);
}

.embla__arrow--next {
  right: calc(25% - 100px);
}

.embla__arrow:hover {
  transform: scale(2);
  color: rgba(255, 255, 255, 0.664);
}
