@import url("http://fonts.cdnfonts.com/css/inca-rubik-black");
@import url("http://fonts.cdnfonts.com/css/poppins");
@import url("http://fonts.cdnfonts.com/css/californian-sun");

.App-header {
  background-image: url("../assets/fog.png");
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: auto;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(200px);
  animation: autoRun 60s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc(360deg / var(--quantity) * var(--i)))
    translateZ(550px);
}

.banner .slider .item img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.App-header .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

@font-face {
  font-family: California sun;
  src: url(../fonts/california_sun.ttf);
}

.App-header .content h1 {
  font-family: "California sun";
  font-size: 7em;
  line-height: 1em;
  color: #141415;
  margin: 10px;
  width: 500px;
}

.App-header .content .title {
  font-family: "California sun";
  max-width: 300px;
}

.App-header .content .title h2 {
  font-size: 3em;
  color: #141415;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.banner .world {
  background-image: url("../assets/world2.png");
  width: 100%;
  height: 93%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
