.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0);
  color: rgba(102, 102, 102, 0.359);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: 0.2s ease;
}

.back-button:hover {
  transform: scale(2);
  color: rgba(255, 255, 255, 0.359);
}
