@font-face {
  font-family: California sun;
  src: url(../fonts/california_sun.ttf);
}

.detail-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/fondo_seq.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 0;
}

.detail-logo {
  display: flex;
  justify-content: center;
  z-index: 10;
  margin-top: 15px;
  margin-bottom: 10px;
}

.detail-logo img {
  width: 70px;
  height: 70px;
  z-index: 10;
}

.detail-title {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.detail-title h1 {
  font-family: "California sun";
  text-align: center;
  margin-top: 0;
  color: white;
  z-index: 10;
}

/* carta izquierda, texto derecha */
.detail-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 2;
  max-height: fit-content;
  color: #cecece;
}

.detail-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carta izquierda */
.detail-card img {
  width: 335px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.335);
}

.detail-card h2 {
  text-align: center;
  font-size: 1em;
}

/* Neighbor icons */
.detail-neighbors {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.neighbor-icon {
  max-width: 50px;
  height: 50px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
  z-index: 10;
}

.neighbor-icon:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.169));
  z-index: 10;
}

.no-neighbors {
  text-align: center;
  color: #aaa;
  font-style: italic;
  margin-top: 1rem;
}

/* Texto derecha */
.detail-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.embla {
  overflow: hidden;
  border-radius: 12px;
}

.embla__container {
  display: flex;
  border-radius: 12px;
  user-select: none;
  cursor: grab;
}

.embla__slides {
  height: 550px; /* alto de cada slide */
  flex: 0 0 90%; /* cada slide ocupa el 100% del contenedor */
  background-color: rgba(0, 0, 0, 0.177);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.embla__slides h2 {
  text-align: center;
  margin-bottom: 10px;
}

.embla__slides .description {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
